@model NishitBidOneDemo.Data.PersonData

@{
    ViewData["Title"] = "Create Person";
}

<form action="/Person/Create" method="post">
    <h3>Create Person</h3>
    <p>
        Simple demonstration of saving a person.
        <br />
        The person object will be saved to a file on the backend ("persons.json")
    </p>

    <div class="my-1">
        @Html.LabelFor(m => m.FirstName)

        <div>
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="my-1">
        @Html.LabelFor(m => m.LastName)

        <div>
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <input type="submit" value="Save" />
</form>
